.scrollUp {
    position: fixed;
    bottom: 160px;
    right: 260px;
    vertical-align: bottom;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    z-index: 9999;
    cursor: pointer;
}

@media (max-width: 1600px) {
    .scrollUp {
        right: 100px;
    }
}

@media (max-width: 720px) {
    .scrollUp {
        display: none;
        right: 10px;
    }
}
