@import "../../scss/vars.scss";
.headerMobile {
    position: fixed;
    width: 100vw;
    display: none;
    align-items: center;
    height: 80px;
    background-color: #f8fbff;
    z-index: 9999;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__navigation {
        position: absolute;
        // max-width: 290px;
        width: 100%;
        height: 100vh;
        top: 80px;
        right: 0;
        background: #f8fbff;
        padding: 15px 15px 0 15px;
        transform: translateX(100%);
        z-index: 10;
        transition: 0.5s;
        ul {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-bottom: 35px;
            border-bottom: 1px solid $blue;
            li > a {
                text-align: center;
                width: 100%;
                text-decoration: none;
                color: $black;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -0.4px;
                padding: 15px 0;
                transition: 0.5s;
                &:hover {
                    color: $blue;
                    font-weight: 700;
                }
            }
            li + li {
                border-top: 1px solid rgba(73, 167, 255, 0.1);
            }
        }
        &._active {
            transform: translateX(0);
        }
    }
    &__contactsWrapper {
        padding: 25px 0;
    }
    &__links {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        & img {
            height: 40px;
            width: 100%;
        }
    }
}

.menu {
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 36px;
    &__global {
        backface-visibility: hidden;
        position: absolute;
        right: 3px;
        border-top: 2px solid #296291;
        transition: 0.55s;
        border-radius: 2px;
    }
    &__top {
        top: 13px;
        width: 30px;
        &_click {
            backface-visibility: hidden;
            top: 15px;
            transform: rotate(50deg);
            transition: 0.5s;
        }
    }
    &__bottom {
        top: 22px;
        width: 20px;
        &_click {
            backface-visibility: hidden;
            top: 15px;
            width: 30px;
            transform: rotate(-410deg);
            transition: 0.5s;
        }
    }
}

@media (max-width: 1044px) {
    .headerMobile {
        display: flex;
    }
}

@keyframes anim1 {
    0% {
        width: 30px;
        transform: unset;
    }
    20% {
        width: 30px;
        transform: unset;
    }
    100% {
        width: 30px;
        transform: rotateZ(45deg);
        top: 50%;
        animation-direction: reverse;
    }
}
@keyframes anim2 {
    0% {
        width: 20px;
        transform: unset;
    }
    20% {
        width: 30px;
        transform: unset;
    }
    100% {
        width: 30px;
        transform: rotateZ(-45deg);
        top: 50%;
        animation-direction: reverse;
    }
}
