@import '../../scss/vars.scss';
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
    color: $blue;
    max-width: fit-content;
    cursor: pointer;
    img{
        width: 48px;
        border-radius: 10px;
    }
}

@media (max-width: 1600px) {
    .logo {
        font-size: 18px;
        line-height: 25px;
    }
}