@import "../../scss/vars.scss";
.header {
    height: 80px;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(73, 167, 255, 0.04), rgba(73, 167, 255, 0.04)), #ffffff;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__navigation {
        display: flex;
        ul {
            display: flex;
            align-items: center;
            column-gap: 40px;
            list-style: none;
            li>a {
                text-decoration: none;
                color: $black;
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                transition: 0.5s;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .header__navigation ul li>a {
        font-size: 18px;
        line-height: 25px;
        transition: 0.5s;
    }
}

@media (max-width: 720px) {
    .header {
        display: none;
    }
}