.linksFixedWrapper {
    position: relative;
}

.linksFixed {
    position: fixed;
    bottom: -90px;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    background: #fff;
    z-index: 9999;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__links {
        display: flex;
        column-gap: 25px;
    }
    &.safariStyles {
        position: unset !important;
    }
    &.linksFixed_fixed {
        animation: linksAnimationStart 0.5s;
        animation-fill-mode: forwards;
    }
    &.linksFixed_animationEnd {
        animation: linksAnimationEnd 0.5s;
        animation-fill-mode: forwards;
    }
}

@media (max-width: 720px) {
    .linksFixedWrapper {
        display: none;
    }
}

@keyframes linksAnimationStart {
    0% {
        bottom: -90px;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes linksAnimationEnd {
    0% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: -90px;
        opacity: 0;
    }
}
