.clouds {
    position: absolute;
    z-index: 5;
    top: 0;
    left: -100%;
    animation: surfing_sky 90s linear infinite;
}

@media (max-width: 1044px) {
    .clouds{
        z-index: 0;
        height: 200px;
        top: 20px;
    }
}

@keyframes surfing_sky {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}