$white: #F5F5F5;
$black: #2F2F2F;
$blue: #49A7FF;
$dark-blue: #296291;
$gradient: linear-gradient(180deg, #7870FF 0%, #C3A6E6 51.35%, #FAB6CF 100%);
$gradient-light: linear-gradient(180deg, #D2ADFE 0%, #FFC5A5 100%);