@import "vars.scss";
.features {
    padding: 150px 0px;
    &__inner {
        min-height: 775px;
    }
    &__more {
        text-align: center;
    }
    &__soon {
        text-align: center;
    }
    &__subtitle {
        margin: 25px auto 0;
        max-width: 850px;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        color: $dark-blue;
    }
    &__moreList {
        display: grid;
        grid-template-columns: auto auto auto;
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: space-between;
        margin: 50px 0 100px;
        & .features__element {
            width: fit-content;
        }
    }
    &__soonList {
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 30px;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__element {
        display: flex;
        align-items: center;
        column-gap: 15px;
        font-size: 22px;
        font-weight: 700;
        line-height: 130%;
        color: $dark-blue;
    }
}

@media (max-width: 1600px) {
    .features {
        padding: 100px 0px;
        &__inner {
            min-height: 685px;
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__title {
            font-size: 36px;
            line-height: 50px;
        }
        &__moreList {
            column-gap: 50px;
            row-gap: 30px;
            margin: 50px 0 60px;
            & .features__element {
                width: 305px;
            }
        }
        &__soonList {
            margin-top: 60px;
        }
        &__element {
            font-size: 22px;
            line-height: 28px;
        }
    }
}

@media (max-width: 1600px) {
    .features {
        &__title {
            font-size: 30px;
            line-height: 44px;
        }
        &__moreList {
            column-gap: unset;
            justify-content: space-between;
            flex-wrap: wrap;
            & .features__element {
                width: fit-content;
            }
        }
        &__soonList{
            flex-wrap: wrap;
            column-gap: 10px;
        }
        &__element {
            font-size: 20px;
            line-height: 26px;
        }
    }
}

@media (max-width: 860px) {
    .features {
        &__title {
            font-size: 28px;
            line-height: 38px;
            letter-spacing: -0.4px;
        }
        &__subtitle {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.4px;
        }
        &__element {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.4px;
        }
        &__moreList {
            grid-template-columns: unset;
        }
        &__soonList {
            grid-template-columns: unset;
        }
    }
}
