@import "vars.scss";
.guideWrapper {
    background: $gradient-light;
}

.guide {
    // background-image: url(../img/guide/guide_back.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 80px 0 75px;
    position: relative;
    &__inner {
        min-height: 990px;
    }
    &__title {
        position: relative;
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        text-align: center;
        margin-bottom: 25px;
        z-index: 10;
    }
    &__text {
        max-width: 575px;
        width: 100%;
        font-size: 28px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        margin: 0 auto;
    }
    &__demos {
        margin-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 115px;
        & img {
            max-width: 280px;
        }
    }
}

@media (max-width: 1600px) {
    .guide {
        padding: 40px 0;
        &__inner {
            min-height: 732px;
        }
        &__title {
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 15px;
        }
        &__text {
            position: relative;
            max-width: 445px;
            font-size: 22px;
            line-height: 30px;
            z-index: 10;
        }
        &__demos {
            margin-top: 40px;
            justify-content: center;
            column-gap: 100px;
            & img {
                max-width: 230px;
                max-height: 500px;
            }
        }
    }
}

@media (max-width: 1044px) {
    .guide {
        &__title {
            font-size: 30px;
            line-height: 42px;
        }
        &__text {
            font-size: 20px;
            line-height: 28px;
        }
        &__demos {
            column-gap: 20px;
            justify-content: space-between;
        }
    }
}

@media (max-width: 860px) {
    .guide {
        padding: 140px 0;
        &__demos {
            position: unset;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 30px;
        }
        &__title {
            font-size: 28px;
            line-height: 38px;
            letter-spacing: -0.4px;
        }
        &__text {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.4px;
        }
    }
}
