@import "vars.scss";
.knowsWrapper {
    background: $gradient;
}

.knows {
    background-image: url(../img/knows/knows_sky-static.webp);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 1030px;
    }
    &__sky {
        position: absolute;
        z-index: 5;
        top: 0;
    }
    &__phones {
        position: relative;
        height: 730px;
        & img {
            max-width: 280px;
        }
    }
    &__phone1 {
        position: absolute;
        z-index: 15;
        top: 130px;
    }
    &__phone2 {
        position: absolute;
        z-index: 10;
        left: 240px;
    }
    &__content {
        max-width: 630px;
        width: 100%;
        text-align: center;
        float: right;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        max-width: 460px;
        width: 100%;
        margin: 0 auto;
    }
    &__text {
        font-size: 28px;
        font-weight: 400;
        line-height: 140%;
        margin-top: 25px;
    }
}

@media (max-width: 1600px) {
    .knows {
        &__inner {
            min-height: 580px;
            padding: 100px 0;
        }
        &__phones {
            height: 580px;
            & img {
                max-width: 230px;
                max-height: 500px;
            }
        }
        &__phone2 {
            top: 0;
            left: 200px;
        }
        &__phone1 {
            top: 85px;
        }
        &__content {
            max-width: 520px;
        }
        &__title {
            font-size: 36px;
            line-height: 50px;
            max-width: 360px;
        }
        &__text {
            font-size: 22px;
            line-height: 30px;
            margin-top: 15px;
        }
    }
}

@media (max-width: 1044px) {
    .knows {
        &__content {
            max-width: 420px;
        }
        &__title {
            font-size: 28px;
            line-height: 38px;
            letter-spacing: -0.4px;
        }
        &__text {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.4px;
        }
    }
}

@media (max-width: 860px) {
    .knowsWrapper {
        background: linear-gradient(180deg, #d2adfe 0%, #ffc5a5 100%);
    }
    .knows {
        background-size: auto 220px;
        &__inner {
            flex-direction: column-reverse;
            padding: 140px 0;
        }
        &__phones {
            height: unset;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            row-gap: 30px;
        }
        &__phone1 {
            position: unset;
        }
        &__phone2 {
            position: unset;
        }
    }
}
