.memoriesWrapper {
    position: relative;
    height: 600px;
    background: linear-gradient(94.36deg, #407bff 0.27%, #40d1ff 100.45%);
}

.memories {
    position: absolute;
    width: 2342px;
    left: -145px;
    top: 50%;
    transform: translateY(-50%);
    & img {
        max-width: 390px;
        // max-height: 440px;
        // width: 100%;
        height: 100%;
    }
}

@media (max-width: 720px) {
    .memoriesWrapper {
        height: fit-content;
        padding: 200px 0;
    }
    .memories {
        left: 0;
        & img {
            max-width: 280px;
            max-height: 310px;
            margin: 0 auto;
            vertical-align: bottom;
        }
        &__slide {
            width: 100vw;
            display: inline-grid;
        }
    }
}
