@import "vars.scss";
.progressWrapper {
    background: $gradient-light;
}

.progress {
    // background-image: url(../img/progress/progress_back.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 1030px;
    }
    &__sky {
        position: absolute;
        z-index: 5;
        top: 0;
    }
    &__phones {
        position: relative;
        height: 730px;
        & img {
            max-width: 280px;
        }
    }
    &__phone1 {
        position: absolute;
        z-index: 15;
        top: 115px;
        left: 240px;
    }
    &__phone2 {
        position: absolute;
        z-index: 10;
        top: 0;
    }
    &__content {
        max-width: 630px;
        width: 100%;
        text-align: center;
        float: right;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        width: 460px;
        margin: 0 auto;
    }
    &__text {
        font-size: 28px;
        font-weight: 400;
        line-height: 140%;
        margin-top: 25px;
    }
}

@media (max-width: 1600px) {
    .progress {
        &__inner {
            min-height: 775px;
        }
        &__phones {
            position: relative;
            height: 580px;
        }
        &__phone1 {
            top: 80px;
            left: 200px;
            & img {
                max-width: 230px;
                max-height: 500px;
            }
        }
        &__phone2 {
            top: 0;
            & img {
                max-width: 230px;
                max-height: 500px;
            }
        }
        &__content {
            max-width: 520px;
        }
        &__title {
            font-size: 36px;
            line-height: 50px;
            width: 355px;
        }
        &__text {
            font-size: 22px;
            line-height: 30px;
            margin-top: 15px;
        }
    }
}

@media (max-width: 1044px) {
    .progress {
        &__content {
            max-width: 400px;
        }
        &__title {
            font-size: 30px;
            line-height: 42px;
            width: fit-content;
        }
        &__text {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media (max-width: 860px) {
    .progress {
        padding: 140px 0;
        background-size: cover;
        // background-image: url(../img/progress/progress_back_mobile.png);
        &__inner {
            justify-content: center;
            flex-direction: column-reverse;
        }
        &__phones {
            position: unset;
            height: unset;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 20px;
        }
        &__phone1 {
            position: unset;
        }
        &__phone2 {
            position: unset;
        }
        &__content {
            max-width: unset;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 28px;
            line-height: 38px;
            letter-spacing: -0.4px;
            width: unset;
        }
        &__text {
            font-size: 18px;
            line-height: 140%;
        }
    }
}
